.ae-btn {
  border-radius: 9px;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  height: 60px;
}

.ae-btn__blue {
  background-color: #00218a;
  color: #fff;
}

.ae-btn:disabled {
  background-color: #f4f3f3;
  color: #696969;
}
