@import './fonts.scss';
/* Глобальные цвета проекта. */
$cl-black: #000000;
$cl-white: #ffffff;
/* Основные цвета проекта и текста */
$cl-global: #232a32;
$cl-global-invert: #ffffff;
$cl-grey: #a6acb3;
$cl-lg-grey: #ecf1f4;
$cl-elem-grey: #688999;
$cl-divider-grey: #d4e0e8;
$cl-steps-grey: #d9d9d9;
/* Цвета проекта */
$cl-red: #ed3333;
$cl-lg-red: #f07575;
$cl-dk-red: #e00606;
$cl-row-red: #fdeaeb;
$cl-blue: #0075ca;
$cl-green: #5bb14b;
$cl-lg-orange: #ffc804;
$cl-orange: #ff9900;
$cl-dk-blue: #3750a3;
$cl-violet: #5e79d2;
/* Шрифты */
$base-font: 'Gilroy', Arial, Helvetica, sans-serif;
